/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2020, 12:53:12 AM
    Author     : PC
*/
.main{
    -fx-background-color: azure;
}
.fontsize{
    -fx-font-size : 16px;
    -fx-font-weight:bold;
    
}
.btCTLT{
    -fx-font-weight:bold;
    -fx-font-size:18px;
    -fx-background-color: whitesmoke;
    -fx-border-width:1 1 1 1;
    -fx-border-color: black;
    
}
.btAdd{
    -fx-font-weight:bold;
    -fx-font-size:18px;
    -fx-background-color: greenyellow;
    -fx-border-width:1 1 1 1;
    -fx-border-color: black;
    -fx-text-fill: black;
}
.btEdit{
    -fx-font-weight:bold;
    -fx-font-size:18px;
    -fx-background-color: yellow;
    -fx-border-width:1 1 1 1;
    -fx-border-color: black;
    -fx-text-fill: black;
}
.btDelete{
    -fx-font-weight:bold;
    -fx-font-size:18px;
    -fx-background-color: tomato;
    -fx-border-width:1 1 1 1;
    -fx-border-color: black;
    -fx-text-fill: black;
}
.btCancel{
    -fx-font-weight:bold;
    -fx-font-size:18px;
    -fx-background-color: seashell;
    -fx-border-width:1 1 1 1;
    -fx-border-color: black;
    -fx-text-fill: black;
}
.btAdd:hover,.btEdit:hover,.btDelete:hover,.btCancel:hover{
    
    -fx-background-color: gray;
}
